h1{
    background: brown;
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}
h4{
    background: goldenrod;
    color: blanchedalmond;
    font-size: 30px;
    text-transform: capitalize;
}
h1{
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
    background:  brown;
}
p{
    font-size: 30px;

}
ul{
    font: 30px;
}
li{
    font-size: 30px;
}